<!DOCTYPE html>
<html>

<head>
<title>Tool pbd2lodas V0.2a</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/w3.css">
<link rel="stylesheet" href="../static/aktuellesthema.css">

</head>

<body>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
   <center>Stammdaten für die Vorerfassung pbd2lodas V0.2a für DATEV Lodas</center>
</header>

<!--Navigation-->
<div class="w3-container">
<hr>
<div class="w3-bar w3-theme">
  <a href="index.html" class="w3-bar-item w3-button w3-padding-16">Home</a>
  

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-padding-16">
      Erfassung<i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="erfassungstunden.html" class="w3-bar-item w3-button">Stunden</a>
      <a href="erfassungbetrag.html" class="w3-bar-item w3-button">Beträge</a>
      <a href="index.html" class="w3-bar-item w3-button">Statistik Stufe 2</a>
    </div>
  </div>

  <a href="konvertierung.html" class="w3-bar-item w3-button w3-padding-16">Konvertieren</a>
  <a href="basisdaten.html" class="w3-bar-item w3-button w3-padding-16 w3-right">Konfiguration</a>
</div>
<br>

<div class="w3-row-padding">
<br>
  <div class="w3-quarter">&nbsp;
  </div>

  <div class="w3-half">
  <form action = "http://localhost:1701/basisdaten.html" class="w3-container w3-card-4 w3-round", method = "POST">
  <h2>Grunddaten für deine Abrechnung erfassen</h2>
    <div class="w3-section">      
      <div class="w3-half">
      <input class="w3-input w3-border w3-round" type="text" name="form_berater", required maxlength="6">
      <label>Beraternummer<br></label><br>
      </div>
    </div>
    <div class="w3-section">      
      <div class="w3-half">
      <input class="w3-input w3-border w3-round" type="text" name="form_mandant", required maxlength="5">
      <label>Mandantennummer<br></label><br>
      </div>
    </div>
    <br>
  
  <div class="w3-row">
    <div class="w3-quarter">Stundenlohnarten:<br>
      <input class="w3-input w3-border w3-round" type="text" name="loa_ns1" value="Nummer" maxlength="4">
      <br>
      <input class="w3-input w3-border w3-round" type="text" name="loa_ns2" value="Nummer" maxlength="4">
      <br>
      <input class="w3-input w3-border w3-round" type="text" name="loa_ns3" value="Nummer" maxlength="4">
      <br>
      <input class="w3-input w3-border w3-round" type="text" name="loa_ns4" value="Nummer" maxlength="4">
      <br>
      <input class="w3-input w3-border w3-round" type="text" name="loa_ns5" value="Nummer" maxlength="4">
    </div>
    <div class="w3-quarter">
      <br>
      <input class="w3-input w3-border w3-round" type="text" name="loa_ts1" value="Lohnartname" maxlength="13">
        <br>
      <input class="w3-input w3-border w3-round" type="text" name="loa_ts2" value="Lohnartname" maxlength="13">
          <br>
      <input class="w3-input w3-border w3-round" type="text" name="loa_ts3" value="Lohnartname" maxlength="13">
          <br>
      <input class="w3-input w3-border w3-round" type="text" name="loa_ts4" value="Lohnartname" maxlength="13">
          <br>
      <input class="w3-input w3-border w3-round" type="text" name="loa_ts5" value="Lohnartname" maxlength="13">
      <br>
    </div>
    
      <div class="w3-quarter">Betragslohnarten:<br>
        <input class="w3-input w3-border w3-round" type="text" name="loa_nb1" value="Nummer" maxlength="4">
        <br>
        <input class="w3-input w3-border w3-round" type="text" name="loa_nb2" value="Nummer" maxlength="4">
        <br>
        <input class="w3-input w3-border w3-round" type="text" name="loa_nb3" value="Nummer" maxlength="4">
        <br>
        <input class="w3-input w3-border w3-round" type="text" name="loa_nb4" value="Nummer" maxlength="4">
        <br>
        <input class="w3-input w3-border w3-round" type="text" name="loa_nb5" value="Nummer" maxlength="4">
      </div>
      <div class="w3-quarter"><br>
        <input class="w3-input w3-border w3-round" type="text" name="loa_tb1" value="Lohnartname" maxlength="13">
        <br>
        <input class="w3-input w3-border w3-round" type="text" name="loa_tb2" value="Lohnartname" maxlength="13">
        <br>
        <input class="w3-input w3-border w3-round" type="text" name="loa_tb3" value="Lohnartname" maxlength="13">
        <br>
        <input class="w3-input w3-border w3-round" type="text" name="loa_tb4" value="Lohnartname" maxlength="13">
        <br>
        <input class="w3-input w3-border w3-round" type="text" name="loa_tb5" value="Lohnartname" maxlength="13">
        </div>
        <br>
      </div>
 
    <div class="w3-third">    
      <center>
      <input type = "submit" button class="w3-btn w3-theme" value = "speichern"/></p>
      </center>
    </div>
    
    <div class="w3-third">&NonBreakingSpace;</div>    
    
    <div class="w3-third">  
      <center>
      <a href="index.html" button class="w3-btn w3-theme" onclick="move()">verwerfen</button> </a>
      </center>
    </div>
  </form>
</div>

  <div class="w3-quarter">&nbsp;
  </div>
</div>
<br>
<div class="w3-panel w3-border w3-theme-g1 w3-round-large">
    <center><h3>
    Lege am besten alle 10 Lohnarten an!<br>
    Sprich die Inhalte mit Deinem Steuerberater ab!</h3>
    </div> 
<br>
<hr>
</body>
</html>