<!DOCTYPE html>
<html>

<head>
<title>Tool pbd2lodas V0.2a</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/w3.css">
<link rel="stylesheet" href="../static/aktuellesthema.css">

</head>

<body>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
   <center>Erfassen von variablen Werten für die DATEV Lohnabrechnung (Lodas) V0.2a</center>
</header>

<!--Navigation-->
<div class="w3-container">
<hr>
<div class="w3-bar w3-theme">
  <a href="index.html" class="w3-bar-item w3-button w3-padding-16">Home</a>


  <div class="w3-dropdown-hover">
    <button class="w3-button w3-padding-16">
      Erfassung<i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="erfassungstunden.html" class="w3-bar-item w3-button">Stunden</a>
      <a href="erfassungbetrag.html" class="w3-bar-item w3-button">Beträge</a>
      <a href="index.html" class="w3-bar-item w3-button">Statistik Stufe 2</a>
    </div>
  </div>
  <a href="konvertierung.html" class="w3-bar-item w3-button w3-padding-16">Konvertieren</a>
  <a href="basisdaten.html" class="w3-bar-item w3-button w3-padding-16 w3-right">Konfiguration</a>
  
</div>
<br><br>

<div class="w3-row-padding">
<div class="w3-quarter">
&nbsp;
</div>

<div class="w3-half">
<form class="w3-container w3-card-4 w3-round">
  <h2>Stammdaten</h2>
  <div class="w3-row-padding">
    <div class="w3-third">
      <input class="w3-input w3-border-teal" type="text" name="form_beraternummer", readonly placeholder={{v_bnr}}>
      <label for="Beraternummer">Beraternummer</label>
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border-teal" type="text" name="form_mandantennummer", readonly placeholder={{v_mdt}}>
      <label for="Mandantennummer">Mandantennummer</label>
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border-teal" type="text" name="form_MMJJ", readonly placeholder={{v_monat}}/{{v_jahr}}>
      <label for="MMJJ">Abrechnungsmonat/Jahr</label><br><br>
    </div><br>
  </div>
</form>
</div>

<div class="w3-quarter">
&nbsp;
</div>

<div class="w3-row-padding">
<br>


<div class="w3-half">
<form action = "http://localhost:1701/erfassungstunden.html" class="w3-container w3-card-4 w3-round", method = "POST">
  
  <div class="w3-third">
  <h3>Stunden</h3></div>
  <div class="w3-third"><h3>Personalnummer:</h3></div>
 
  <div class="w3-third">
<center>
<br>  <input class="w3-input w3-border-red" type="text" name="form_personalnummer", placeholder="Eingabe!" required style="width:50%" maxlength="5">
<br>
</center>
</div>

  <div class="w3-row-padding">
    <div class="w3-third">
      <div class="w3-tag w3-round w3-light-grey">{{v_sn1}}
      </div>
      <div class="w3-tag w3-round w3-light-grey">{{v_st1}}
      </div>
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text"  name="form_wert", pattern="[-+]?[0-9]*[,]?[0-9]+" placeholder="999,99" maxlength="6">
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="form_kostenstelle", placeholder="Kostenstelle" maxlength="13">
    </div>
  </div>
  <div class="w3-row-padding">
    <div class="w3-third">
      <div class="w3-tag w3-round w3-light-grey">{{v_sn2}}
        </div>
        <div class="w3-tag w3-round w3-light-grey">{{v_st2}}
        </div>
      </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fw2" pattern="[-+]?[0-9]*[,]?[0-9]+" placeholder="999,99" maxlength="6">
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fk2" placeholder="Kostenstelle" maxlength="13">
    </div>
  </div>
  <div class="w3-row-padding">
    <div class="w3-third">
        <div class="w3-tag w3-round w3-light-grey">{{v_sn3}}
          </div>
          <div class="w3-tag w3-round w3-light-grey">{{v_st3}}
          </div>
        </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fw3" pattern="[-+]?[0-9]*[,]?[0-9]+" placeholder="999,99" maxlength="6">
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fk3" placeholder="Kostenstelle" maxlength="13">
    </div>
  </div>
  <div class="w3-row-padding">
    <div class="w3-third">
        <div class="w3-tag w3-round w3-light-grey">{{v_sn4}}
          </div>
          <div class="w3-tag w3-round w3-light-grey">{{v_st4}}
          </div>
        </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fw4" pattern="[-+]?[0-9]*[,]?[0-9]+" placeholder="999,99" maxlength="6">
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fk4" placeholder="Kostenstelle" maxlength="13">
    </div>
  </div>
  <div class="w3-row-padding">
    <div class="w3-third">
      <div class="w3-tag w3-round w3-light-grey">{{v_sn5}}
          </div>
          <div class="w3-tag w3-round w3-light-grey">{{v_st5}}
          </div>
        </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fw5" pattern="[-+]?[0-9]*[,]?[0-9]+" placeholder="999,99" maxlength="6">
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fk5" placeholder="Kostenstelle" maxlength="13">
    </div>
  </div>
  <div class="w3-row-padding">
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fl6" placeholder="Lohnart" maxlength="4">
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fw6" pattern="[-+]?[0-9]*[,]?[0-9]+" placeholder="999,99" maxlength="6">
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fk6" placeholder="Kostenstelle" maxlength="13">
    </div>
  </div>
  <div class="w3-row-padding">
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fl7" placeholder="Lohnart" maxlength="4">
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fw7" pattern="[-+]?[0-9]*[,]?[0-9]+" placeholder="999,99" maxlength="6">
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fk7" placeholder="Kostenstelle" maxlength="13">
    </div>
  </div>
  <div class="w3-row-padding">
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fl8" placeholder="Lohnart" maxlength="4">
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fw8" pattern="[-+]?[0-9]*[,]?[0-9]+" placeholder="999,99" maxlength="6">
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fk8" placeholder="Kostenstelle" maxlength="13">
    </div>
  </div>
  <div class="w3-row-padding">
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fl9" placeholder="Lohnart" maxlength="4">
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fw9" pattern="[-+]?[0-9]*[,]?[0-9]+" placeholder="999,99" maxlength="6">
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border" type="text" name="fk9" placeholder="Kostenstelle" maxlength="13">
    </div>
  </div>

  <br>
    
    <div class="w3-third">    
    <center>
    <input type = "submit" button class="w3-btn w3-theme" value = "speichern"/></p>
    </center>
    </div>
    
    <div class="w3-third">&NonBreakingSpace;</div>    
    
    <div class="w3-third">  
    <center>
    <a href="index.html" button class="w3-btn w3-theme" onclick="move()">verwerfen</button> </a>
    </center>
    </div>
  </form>
</div>

<div class="w3-col" style="width:10px">

</div>

<div class="w3-half">
<form class="w3-container w3-card-4 w3-round">

  
  <h3>Hinweise</h3>
<br>
      <div class="w3-row-padding">
        <div class="w3-half">
        <p>Personalnummer </p>
        </div>
        <div class="w3-half">
           <p>Personalnummer muss im Lohnprogramm vorhanden sein, wenn die Zeilen nicht ausreichen,
           kann auch mehrfach für eine Personalnummer die Maske verwendet werden<br>
           Personalnummer ist 1 bis 5 stellig, sprich die Personalnummer mit deinem Steuerberater ab<br>
        </div>
      </div>


      <div class="w3-row-padding">
      
        <div class="w3-half">
        <p>Lohnarten in der Erfassung</p>
        </div>
        <div class="w3-half">
        <p>Lohnarten sind 1 bis 4 stellig. Sprich die Lohnarten, die du verwenden sollst, mit deinem Steuerberater ab.</div>
        </div>
     
      <div class="w3-row-padding">
        <p>Stunden erfasse im folgenden Format: max. 999,99, du musst keine Nachkommastelle eingeben, wenn es keine gibt<br>  </p>
      </div>

      <div class="w3-row-padding">
        <p>Kostenstelle kannst du freilassen, wenn du Kostenstellen erfassen willst, dann sind maximal 13 Stellen möglich, du kannst gleiche Lohnarten auf verschiedene Kostenstellen verteilen, wenn du diese mehrfach erfasst<br>  </p>
      </div>
      <br>
 </div>
      
      </form>
    </div>

<br>
<br>

<div class="w3-container">

<div class="w3-third">
  &nbsp;
</div>
  
  <div class="w3-third">
  <br>
  </div>

  <div class="w3-third">
  &nbsp;
  </div>

</div>
<hr>

</body>
</html>
