<!DOCTYPE html>
<html>

<head>
<title>Tool pbd2lodas V0.2a</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/w3.css">
<link rel="stylesheet" href="../static/aktuellesthema.css">
</head>

<body>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
   <center>Lohnabrechnungsdatenerfassung V0.2a</center>
</header>

<!--Navigation-->
<div class="w3-container">
<hr>
<div class="w3-bar w3-theme">
  <a href="index.html" class="w3-bar-item w3-button w3-padding-16">Home</a>
  
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-padding-16">
      Erfassung<i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="erfassungstunden.html" class="w3-bar-item w3-button">Stunden</a>
      <a href="erfassungbetrag.html" class="w3-bar-item w3-button">Beträge</a>
      <a href="index.html" class="w3-bar-item w3-button">Statistik Stufe 2</a>
    </div>
  </div>

  <a href="konvertierung.html" class="w3-bar-item w3-button w3-padding-16">Konvertieren</a>
  <a href="basisdaten.html" class="w3-bar-item w3-button w3-padding-16 w3-right">Konfiguration</a>

</div>
</div>
<br><br>

<div class="w3-row-padding">

<div class="w3-panel w3-border w3-theme-g1 w3-round-large">
<center><h3>
Du willst einfach Stunden und Beträge für die Lohnabrechnung für Deinen Steueberater erfassen?<br>Dann bist Du hier genau richtig!<br><br>
Sprich die Inhalte mit Deinem Steuerberater ab!</h3>
</div> 

<center>
<img src="../static/image001.png"/>
</center>
<br>
<div class="w3-panel w3-border w3-theme-g1 w3-round-large">
  <center><h3>
  lege zuerst die Basisdaten an, dann kannst du Stunden und Beträge für die Lohnabrechnung erfassen <br><br>
  am Ende konvertierst du die Datei für deinen Steuerberater und stellst ihm diese zur Verfügung<br><br>
am besten mit Unternehmen online oder DATEV CloudBox - denke an den Datenschutz!</h3>
  </div> 



  

</body>
</html>
